<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO Meta Tags -->
  <title>Linusman — Full Stack Web Developer</title>
  <meta name="description"
    content="I build performant websites and scalable full stack solutions. Hire Linusman for your next project." />
  <meta name="keywords" content="Linusman, web developer, full stack, JavaScript, Node.js, portfolio" />
  <meta name="author" content="Linus Chidera" />

  <!-- Social Sharing -->
  <meta property="og:title" content="Linusman — Full Stack Web Developer" />
  <meta property="og:description" content="Code. Build. Evolve — One line at a time." />
  <meta property="og:image" content="/path-to-your-banner.png" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://yourdomain.com" />

  <!-- Favicon -->
  <link rel="icon" href="/images/favicon-32x32.png" type="image/png">
  <link rel="icon" href="/images/favicon-16x16.png" type="image/png">

  <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/2608c86457.js" crossorigin="anonymous"></script>



  <!-- Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- Custom css-->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="bg-dark text-white">
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Linusman's Logo"></a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="/images/logo.png" alt="Linusman's Logo">
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body pt-0">
            <ul class="navbar-nav justify-content-center flex-grow-1 ">
              <li class="nav-item me-4">
                <a class="nav-link" aria-current="page" href="#about"><span class="list-num me-2">01.</span>About</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link" href="#experience"><span class="list-num me-2">02.</span>Experience</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link" href="#projects"><span class="list-num me-2">03.</span>Projects</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link" href="#contact"><span class="list-num me-2">04.</span>Contact</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <button formaction="/resume" class="btn btn-outline-primary" type="submit">Resume</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </header>