<%- include('header.ejs'); -%>

<div class="sticky-left">
    <ul>
        <li class="font-list">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/Linusman001"><i class="footer-icon fa-brands fa-github fa-beat-fade fa-lg" style="color: #31daff;"></i></a>
        </li>
        <li class="font-list">
            <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/official_linusman"><i class="footer-icon fa-brands fa-instagram fa-beat-fade fa-lg" style="color: #31daff;"></i></a>
        </li>
        <li class="font-list">
            <a target="_blank" rel="noopener noreferrer" href="https://x.com/DevLinusman"><i class="footer-icon fa-brands fa-twitter fa-beat-fade fa-lg" style="color: #31daff;"></i></a>
        </li>
        <li class="font-list">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/chidera-linus-2a5b02285/"><i class="footer-icon fa-brands fa-linkedin-in fa-beat-fade fa-lg" style="color: #31daff;"></i></a>
        </li>
    </ul>
</div>

<div class="sticky-right">
    <ul>
        <li class="font-list"><a href="mailto:linusmanbuilds@gmail.com" class="email">LinusmanBuilds@gmail.com</a></li>
    </ul>
</div>

<section class="intro-section" id="intro">
    <div class="container-fluid">
        <h4 class="mb-4">Hello, my name is</h4>
        <h1 class="name">Linus</h1>
        <h1 class="skill">A full-stack web developer.</h1>
        <p class="tagline">
            Through my brand, <strong class="brand-name">Linusman</strong>, I craft fast, modern websites and web apps
            for startups, agencies, and growing businesses. Whether you're launching something new or leveling up your
            online presence, I’m here to build something that works beautifully — and gets results.
        </p>
    </div>
</section>

<section class="about-section" id="about">
    <div class="container-fluid d-md-flex justify-content-center">
        <div class="row align-items-center about-row gx-5">
            <div class="col-md-8 about-text">
                <div class="row g-0">
                    <div class="col-md-6">
                        <h1><span class="list-num">01.</span> About Me</h1>
                    </div>
                    <div class="col-md-6">
                        <hr class="line">
                    </div>
                </div>

                <p>I’m Linus — a full-stack web developer creating fast, reliable websites and web apps under the
                    name
                    <strong class="brand-name">Linusman</strong>.</p>
                <p>I hold a B.Sc. in Computer Science, and my journey into tech began with a software engineering
                    course
                    at ALX Africa. Though I couldn’t complete the program due to unforeseen circumstances, it
                    sparked my
                    curiosity and set me on a path to explore further. After delving into web development through a
                    Udemy course, I knew I had found my niche.</p>
                <p>I now focus on building clean, modern digital experiences for startups, agencies, and growing
                    businesses. Whether you’re starting from scratch or improving what you have, I’m here to build
                    something that works — and gets results.</p>
            </div>
            <div class="col-md-6 img-container">
                <div class="about-img-container">
                    <img class="about-img" src="/images/Linusman.jpg" alt="Linus' image">
                </div>

            </div>
            <div class="col-12">
                <div class="container d-flex justify-content-center">
                    <div>
                        <p class="list-num mt-5">
                            Technologies I’ve recently been hands-on with:
                        </p>
                        <div class="row tech-row g-0">
                            <div class="col-md-6 col-sm-12 tech-col">
                                <ul class="tech-list">
                                    <li class="tech-list-item tech"><span><i class="fa-solid fa-angles-right fa-2xs"
                                                style="color: #31daff;"></i></span> CSS3</li>
                                    <li class="tech-list-item tech"><span><i class="fa-solid fa-angles-right fa-2xs"
                                                style="color: #31daff;"></i></span> Bootstrap</li>
                                    <li class="tech-list-item tech"><span><i class="fa-solid fa-angles-right fa-2xs"
                                                style="color: #31daff;"></i></span> JavaScript (ES6+)</li>
                                    <li class="tech-list-item tech"><span><i class="fa-solid fa-angles-right fa-2xs"
                                                style="color: #31daff;"></i></span> Git</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-12 tech-col">
                                <ul class="tech-list">
                                    <li class="tech-list-item tech"><span><i class="fa-solid fa-angles-right fa-2xs"
                                                style="color: #31daff;"></i></span> PostgreSQL</li>
                                    <li class="tech-list-item tech"><span><i class="fa-solid fa-angles-right fa-2xs"
                                                style="color: #31daff;"></i></span> Node.js</li>
                                    <li class="tech-list-item tech"><span><i class="fa-solid fa-angles-right fa-2xs"
                                                style="color: #31daff;"></i></span> Express.js</li>
                                    <li class="tech-list-item tech"><span><i class="fa-solid fa-angles-right fa-2xs"
                                                style="color: #31daff;"></i></span> EJS</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tech"></div>
        </div>
    </div>
</section>

<section class="work-section" id="experience">
    <div class="container-fluid my-5 d-md-flex justify-content-center">
        <div class="row work-row">
            <div class="col-12 mb-4">
                <div class="row parent-w-col">
                    <div class="col-12 col-md-5 w-col">
                        <h1><span class="list-num">02.</span> Work Experience</h1>
                    </div>
                    <div class="col-12 col-md-7 w-col-2">
                        <hr class="line work-line">
                    </div>
                </div>
            </div>

            <!-- Left: Company List -->
            <div class="col-md-3" style="width: 200px;">

                <ul class="list-group mb-3" id="companyList">
                    <li class="list-group-item active" data-bs-target="daxx">DAXX Studio</li>
                </ul>
            </div>

            <!-- Right: Detail Content -->
            <div class="col-md-8 pt-2" style="width: 550px;">
                <div class="company-content" id="daxx">
                    <h5><span class="text-info">Intern</span><a target="_blank" rel="noopener noreferrer"
                            href="https://daxxstudio.com.ng" class="company-link">@DAXX Studio</a></h5>
                    <p class="text-muted">Jan 2023 – Dec 2023</p>
                    <ul class="tech-list">
                        <li class="tech-list-item mt-1"><span><i class="fa-solid fa-angles-right fa-2xs"
                                    style="color: #31daff;"></i></span> Built and styled responsive websites from
                            designer mockups and prototypes for a range of clients.</li>
                        <li class="tech-list-item mt-1"><span><i class="fa-solid fa-angles-right fa-2xs"
                                    style="color: #31daff;"></i></span> Worked closely with other developers using Git
                            for version control and daily team communication.</li>
                        <li class="tech-list-item mt-1"><span><i class="fa-solid fa-angles-right fa-2xs"
                                    style="color: #31daff;"></i></span> Engaged with clients regularly to understand
                            their needs and provide timely updates.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="project-section" id="projects">
    <div class="container-fluid justify-content-center mb-5">
        <div class="row gx-1">
            <div class="col-md-7" style="width: 450px;">
                <h1><span class="list-num">03.</span> Things I've Built</h1>
            </div>
            <div class="col-md-5" style="width: 350px;">
                <hr class="line">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 ">
                <img class="mt-4 project-images" src="/images/ttracks.png" alt="">
            </div>
            <div class="col-lg-6 text-end">
                <h4 class="mt-5 featured">Featured Project</h4>
                <h3>Travel Tracker</h3>
                <div class="project-description p-3 mb-3">
                    <p class="mb-0">A simple and fun web application that allows each family member to create a profile,
                        select a favorite color, and track the countries they've visited.</p>
                </div>
                <div class="flex-container cnt-right">
                    <div class="flex-item item-oProjects">Node.js</div>
                    <div class="flex-item item-oProjects">Express</div>
                    <div class="flex-item item-oProjects">PostgreSQL</div>
                    <div class="flex-item item-oProjects">EJS</div>
                </div>
                <a target="_blank" rel="noopener noreferrer" class="me-3"
                    href="https://github.com/Linusman001/Family-Travel-Tracker"><i class="fa-brands fa-github"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://50vcbsk3-3000.euw.devtunnels.ms/"
                    class="project-link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>

            <div class="col-lg-6 mt-5">
                <h4 class="mt-5 featured">Featured Project</h4>
                <h3>Permalist</h3>
                <div class="project-description p-3 permalist-pjdesc">
                    <p class="mb-0 ltracks">A simple To-Do List web application built with Node.js, Express, EJS, and
                        PostgreSQL. It allows users to add, edit, delete, and view tasks while persisting data in a
                        Postgres database</p>
                </div>
                <div class="flex-container cnt-left">
                    <div class="flex-item item-oProjects">HTML</div>
                    <div class="flex-item item-oProjects">CSS</div>
                    <div class="flex-item item-oProjects">JS</div>
                </div>
                <a class="me-3 mt-3" target="_blank" rel="noopener noreferrer"
                    href="https://github.com/Linusman001/Permalist"><i class="fa-brands fa-github"></i></a>
                <a target="_blank" rel="noopener noreferrer" href="https://permalist-lxp6.onrender.com"
                    class="project-link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
            <div class="col-lg-6 mt-5">
                <img class="mt-4 permalist-img project-images" src="/images/permalist.png" alt="">
            </div>
        </div>
        <div class="text-center mt-5 pt-5">
            <h3 class="OProjects">Other Projects</h3>
            <p class="explore">explore the archives</p>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
                <div class="card" style="width: 95%;">
                    <div class="card-body">
                        <div class="text-end mb-3">
                            <a class="me-3 mt-3 text-end" target="_blank" rel="noopener noreferrer"
                                href="https://github.com/Linusman001/Leads-Tracker"><i
                                    class="fa-brands fa-github"></i></a>
                        </div>
                        <h5 class="card-title">Leads Tracker - Chrome Extension</h5>
                        <p class="card-text">Leads Tracker is a Chrome extension designed to simplify lead tracking by
                            capturing active tab URLs and manually inputted URLs. This project was created as part of my
                            learning journey in JavaScript and web development.</p>
                        <div class="flex-container cnt-left">
                            <div class="flex-item item-oProjects">HTML</div>
                            <div class="flex-item item-oProjects">CSS</div>
                            <div class="flex-item item-oProjects">JS</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 95%;">
                    <div class="card-body">
                        <div class="text-end mb-3">
                            <a class="me-3 mt-3 text-end" target="_blank" rel="noopener noreferrer"
                                href="https://github.com/Linusman001/Fortress-MFB"><i
                                    class="fa-brands fa-github"></i></a>
                            <a target="_blank" rel="noopener noreferrer" href="https://fortress-mfb.vercel.app"
                                class="project-link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                        <h5 class="card-title">Fortress-MFB</h5>
                        <p class="card-text">A Landing Page Clone Of Fortress MicroFinance Bank Website
                            https://www.fortressmicrofinancebank.com/</p>
                        <div class="flex-container cnt-left">
                            <div class="flex-item item-oProjects">HTML</div>
                            <div class="flex-item item-oProjects">CSS</div>
                            <div class="flex-item item-oProjects">Bootstrap</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 95%;">
                    <div class="card-body">
                        <div class="text-end mb-3">
                            <a class="me-3 mt-3 text-end" target="_blank" rel="noopener noreferrer"
                                href="https://github.com/Linusman001/TinDog"><i class="fa-brands fa-github"></i></a>
                            <a target="_blank" rel="noopener noreferrer" href="https://tin-dog-linux.vercel.app"
                                class="project-link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                        <h5 class="card-title">TinDog</h5>
                        <p class="card-text">A Landing page of a Dog matchmaking Site built with Bootstrap and little of
                            Advanced CSS</p>
                        <div class="flex-container cnt-left">
                            <div class="flex-item item-oProjects">HTML</div>
                            <div class="flex-item item-oProjects">CSS</div>
                            <div class="flex-item item-oProjects">Bootstrap</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 95%;">
                    <div class="card-body">
                        <div class="text-end mb-3">
                            <a class="me-3 mt-3 text-end" target="_blank" rel="noopener noreferrer"
                                href="https://github.com/Linusman001/Stephanie-Obi"><i
                                    class="fa-brands fa-github"></i></a>
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://stephanie-obi.vercel.app/" class="project-link"><i
                                    class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                        <h5 class="card-title">Stephanie Obi</h5>
                        <p class="card-text">A clone of (a previously existing Domain)https://www.stephanieobi.com
                            landing page</p>
                        <div class="flex-container cnt-left">
                            <div class="flex-item item-oProjects">HTML</div>
                            <div class="flex-item item-oProjects">CSS</div>
                            <div class="flex-item item-oProjects">Bootstrap</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="contact-section" id="contact">
    <div class="container-fluid text-center pt-4 justify-content-center" style="max-width: 740px;">
        <h3 class="next mb-4">What Comes Next</h3>
        <h1 class="connect">Get In Touch</h1>
        <p class="contact-text">My mailbox is always open, and I’m happy to connect. I’m open to new opportunities, collaborations, or simply a friendly hello — and I’ll do my best to respond promptly.</p>
        <a class="btn py-3 px-4 btn-lg btn-outline-primary" href="mailto:LinusmanBuilds@gmail.com">Say Hello</a>
</section>

<%- include('footer.ejs'); -%>