<%- include('header.ejs'); -%>

<div class="sticky-left">
    <ul>
        <li class="font-list">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/Linusman001"><i class="footer-icon fa-brands fa-github fa-beat-fade fa-lg" style="color: #31daff;"></i></a>
        </li>
        <li class="font-list">
            <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/official_linusman"><i class="footer-icon fa-brands fa-instagram fa-beat-fade fa-lg" style="color: #31daff;"></i></a>
        </li>
        <li class="font-list">
            <a target="_blank" rel="noopener noreferrer" href="https://x.com/DevLinusman"><i class="footer-icon fa-brands fa-twitter fa-beat-fade fa-lg" style="color: #31daff;"></i></a>
        </li>
        <li class="font-list">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/chidera-linus-2a5b02285/"><i class="footer-icon fa-brands fa-linkedin-in fa-beat-fade fa-lg" style="color: #31daff;"></i></a>
        </li>
    </ul>
</div>

<div class="sticky-right">
    <ul>
        <li class="font-list"><a href="mailto:linusmanbuilds@gmail.com" class="email">LinusmanBuilds@gmail.com</a></li>
    </ul>
</div>

<div class="download container-fluid text-center" style="margin: 15% auto;">
    <a class="btn py-3 px-4 btn-lg btn-outline-primary" href="/api/download-resume-word">
        <i class="fa-solid fa-download" style="color: #f5f5f5;"></i> Word Format
    </a>
    <a class="btn py-3 px-4 btn-lg btn-outline-primary" href="/api/download-resume-pdf">
        <i class="fa-solid fa-download" style="color: #f5f5f5;"></i> PDF Format
    </a>
</div>

<%- include('footer.ejs'); -%>